<!DOCTYPE html>
<html>
        <head>
                <title>Duel</title>
                <script src="/socket.io/socket.io.js"></script>
                <script src="script.js"></script>

               <!-- <script type="text/javascript">
                var socket = io.connect('http://localhost');
        
                socket.on('promptuser', function(message) {
                        var name = prompt(message, "Your Name");
                        socket.emit('ready', name);
                });
        
                socket.on('refreshstate', function(state, activeUsers) {
                        var title = document.getElementById('title');
                        title.innerHTML = state;

                        var list = document.getElementById('list');
                        for (var i=0; i<activeUsers.length; i++) {
                                var name = document.createElement("p");
                                name.innerHTML = activeUsers[i].name;
                                list.appendChild(name);
                        }
                });
                </script>-->
                <link href="style/style.css" rel="stylesheet">
                <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'/>
        </head>
        <body>
                <div id="title">
                </div>
                <div id="list">
                </div>

                <div id="question-contain">
                        <div id="question"></div>
                        <div id="clarif"></div>
                        <input type="text" 
                </div>
        </body>
</html>